.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overscroll-behavior: contain;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: rgba(4, 7, 16, 0.95);
    }
    &__inner {
        @media(max-width: 800px) {
            width: 80%;
        }
        position: relative;
        width: 62%;
        &::before {
            content: "";
            display: block;
            padding-top: 56%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.is-open {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        z-index: 100;
    }
}