section.how-it
	div.how-it__intersector
	div.how-it__box(data-presentation-frame)
		div.container.how-it__inner
			h2.how-it__title
				b Как это работает?
				span Просто!
			div.how-it__content
				ul.how-it__text
					li.how-it__item(data-presentation-item="1").is-active
						div.how-it__count
							figure.how-it__count-icon 
								span 1
								<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
							div.how-it__count-bar
						div.how-it__text-item Зарегистрируйтесь в бесплатном приложении KKB.
					li.how-it__item(data-presentation-item="2")
						div.how-it__count
							figure.how-it__count-icon
								span 2
								<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
							div.how-it__count-bar
						div.how-it__text-item Привязывайте карты любых банков и получайте по #[b &nbsp;20 бонусов&nbsp;] (сом) за каждую.
					li.how-it__item(data-presentation-item="3")  
						div.how-it__count 
							figure.how-it__count-icon
								span 3
								<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
							div.how-it__count-bar
						div.how-it__text-item Совершайте платежи и получайте 1% от суммы транзакции бонусом.
					li.how-it__item(data-presentation-item="4")  
						div.how-it__count
							figure.how-it__count-icon 
								span 4
								<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
							div.how-it__count-bar
						div.how-it__text-item  Оплачивайте бонусами любые услуги партнеров KKB.
					li.how-it__item(data-presentation-item="5")  
						div.how-it__count 
							figure.how-it__count-icon
								span 5
								<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
						div.how-it__text-item Наслаждайтесь сохраненным временем!
				div.how-it__phone
					.phone.phone--slider
						.phone__inner(data-presentation-frame)
							.how-it__screen(data-presentation-screen="1").is-active
								img(src="images/how-1.svg" alt="")
							.how-it__screen(data-presentation-screen="2")
								img(src="images/how-2.svg" alt="")
							.how-it__screen(data-presentation-screen="3")
								img(src="images/how-3.svg" alt="")
							.how-it__screen(data-presentation-screen="4")
								img(src="images/how-4.svg" alt="")
							.how-it__screen(data-presentation-screen="5")
								img(src="images/how-5.svg" alt="")