section.how-it
	div.container.how-it__inner
		h2.how-it__title
			b Как это работает?
			span Просто!
		div.how-it__content
			ul.how-it__text
				li 
					div.how-it__text-item Зарегистрируйтесь в бесплатном приложении KKB и получите #[b 100 бонусов] (сомов).
				li 
					div.how-it__text-item Привязывайте карты любых банков и получайте по #[b 20 бонусов] (сомов) за каждую.
				li 
					div.how-it__text-item Оплачивайте услуги и получайте бонусы: 1% от суммы транзакции.
				li 
					div.how-it__text-item Оплачивайте бонусами любые услуги партнеров KKB.
				li 
					div.how-it__text-item Наслаждайтесь сохраненным временем!
			ul.how-it__screens
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")