section.how-it
	div.container.how-it__inner
		h2.how-it__title
			b Как это работает?
			span Просто!
		div.how-it__content
			ul.how-it__text
				li.how-it__text-item 
					div.how-it__text-count 
						span 1
						<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
					div.how-it__text-item Зарегистрируйтесь в бесплатном приложении KKB и получите #[b &nbsp;100 бонусов&nbsp;] (сомов).
				li.how-it__text-item  
					div.how-it__text-count 
						span 2
						<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
					div.how-it__text-item Привязывайте карты любых банков и получайте по #[b &nbsp;20 бонусов&nbsp;] (сомов) за каждую.
				li.how-it__text-item  
					div.how-it__text-count 
						span 3
						<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
					div.how-it__text-item Оплачивайте услуги и получайте бонусы: 1% от суммы транзакции.
				li.how-it__text-item  
					div.how-it__text-count 
						span 4
						<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
					div.how-it__text-item Оплачивайте бонусами любые услуги партнеров KKB.
				li.how-it__text-item  
					div.how-it__text-count 
						span 5
						<svg width="46" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 0C7.166 0 0 5.956 0 23c0 15.834 5.956 23 23 23 15.834 0 23-5.956 23-23C46 7.166 40.044 0 23 0z" fill="#05133D"/></svg>
					div.how-it__text-item Наслаждайтесь сохраненным временем!
			ul.how-it__screens
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")
				li
					figure
						picture
							img(src="" alt="")