section.faq
	div.container.faq__inner
		h2.faq__title FAQ
		div.accordeon.faq__content
			div.accordeon__item
				div.accordeon__head 1.	Как зарегистрироваться в приложении и сколько стоит подключение и обслуживание приложения?
				div.accordeon__body
					p Для регистрации в приложении «ККВ» Вам нужно:
					ul
						li Ввести Ваш номер телефона;
						li Ввести код, полученный в SMS сообщении по номеру телефона, который использовался при регистрации;
						li Придумать и запомнить ПИН-код, который Вы будете использовать для последующих входов в приложение;
						li Ввести Ваши Фамилию, Имя и Отчество;
						li Придумать и запомнить Пароль, который должен отвечать политике безопасности Банка.
					p Регистрация в мобильном приложении и интернет-банкинге «ККВ» бесплатна. Более того, при регистрации в приложении «ККВ» Вы получите бонус на Ваш Бонусный кошелек.
			div.accordeon__item
				div.accordeon__head 2.	Какие операции можно совершить с помощью приложения «KKB»?
				div.accordeon__body
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime commodi nam rem fugiat nesciunt doloribus eius provident qui illum suscipit soluta esse debitis, id recusandae laboriosam et tenetur ullam sit.
			div.accordeon__item
				div.accordeon__head 3.	Можно ли подключить карту другого банка в приложении и сколько банковских карт можно подключить в приложении одновременно?
				div.accordeon__body
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime commodi nam rem fugiat nesciunt doloribus eius provident qui illum suscipit soluta esse debitis, id recusandae laboriosam et tenetur ullam sit.
			div.accordeon__item
				div.accordeon__head 4.	Что такое бонусы и как их использовать?
				div.accordeon__body
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime commodi nam rem fugiat nesciunt doloribus eius provident qui illum suscipit soluta esse debitis, id recusandae laboriosam et tenetur ullam sit.
			div.accordeon__item
				div.accordeon__head 5.	Почему я оплатил услугу, а начисление бонусов не произошло?
				div.accordeon__body
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime commodi nam rem fugiat nesciunt doloribus eius provident qui illum suscipit soluta esse debitis, id recusandae laboriosam et tenetur ullam sit.
			div.accordeon__item
				div.accordeon__head 6.	Сможет ли кто-нибудь получить доступ к приложению при утере моего телефона?
				div.accordeon__body
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime commodi nam rem fugiat nesciunt doloribus eius provident qui illum suscipit soluta esse debitis, id recusandae laboriosam et tenetur ullam sit.
			div.accordeon__item
				div.accordeon__head 7. Как получить консультацию и поддержку от Банка?
				div.accordeon__body
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime commodi nam rem fugiat nesciunt doloribus eius provident qui illum suscipit soluta esse debitis, id recusandae laboriosam et tenetur ullam sit.
