section.faq
	div.container.faq__inner
		h2.faq__title FAQ
		div.accordeon.faq__content
			div.accordeon__item
				div.accordeon__head
					span 1.	Как зарегистрироваться в приложении и сколько стоит подключение и обслуживание приложения?
				div.accordeon__body
					p Для регистрации в приложении «ККВ» Вам нужно:
					ul
						li Ввести Ваш номер телефона;
						li Ввести код, полученный в SMS сообщении по номеру телефона, который использовался при регистрации;
						li Придумать и запомнить ПИН-код, который Вы будете использовать для последующих входов в приложение;
						li Ввести Ваши Фамилию, Имя и Отчество;
						li Придумать и запомнить Пароль, который должен отвечать политике безопасности Банка.
					p Регистрация в мобильном приложении и интернет-банкинге «ККВ» бесплатна. Более того, при регистрации в приложении «ККВ» Вы получите бонус на Ваш Бонусный кошелек.
			div.accordeon__item
				div.accordeon__head 
					span 2.	Какие операции можно совершить с помощью приложения «KKB»?
				div.accordeon__body
					p В Интернет-банкинге/Мобильном приложении «ККВ» вы можете совершать:
					ul
						li 
							| Операции по счету до востребования и банковской карте:
							ul
								li a) Получение информации об остатках и доступных суммах денежных средств;
								li b)	Открытие карт;
								li c)	Внешние переводы денежных средств в национальной и иностранной валютах на карты других банков;
								li d)	Получение выписки по проведенным операциям;
								li e)	Внутрибанковские переводы денежных средств в национальной валюте на карты и счета физических лиц/ИП/юридических лиц.
								li f)	Внутрибанковские переводы денежных средств в иностранной валюте на карты и счета физических лиц;
								li g)	Осуществление платежей с карт и счетов в пользу поставщиков услуг платежной системы Банка;
								li h)	Конвертация при переводах на карты и счета физических лиц;
						li Операции по банковскому вкладу (депозиту):
							ul 
								li a)	Получение информации о размещенных в Банке вкладах;
								li b)	Получение выписки о движении денежных средств по вкладу;
								li c)	Пополнение вклада, в случае если данное условие предусмотрено условиями самого вклада и обеспечено системой «KKB»;
								li d)	Списание денежных средств, если данное условие предусмотрено условиями самого вклада и обеспечено системой «KKB».
						li Просмотр истории платежей̆ и переводов, осуществленных в системе Банка.
			div.accordeon__item
				div.accordeon__head 
					span 3.	Можно ли подключить карту другого банка в приложении и сколько банковских карт можно подключить в приложении одновременно?
				div.accordeon__body
					p В мобильном приложении «KKB» можно бесплатно подключить карту любого банка Кыргызстана. Для совершения платежей и переводов с платежных карт других банков необходимо открыть доступ к совершению интернет-операций по этим картам. При этом, при подключении карт других банков к Интернет-банкингу/Мобильному приложению «ККВ» Вы получите бонус на Ваш Бонусный кошелек за каждую подключенную карту.
					p Количество подключенных банковских карт в мобильном приложении «ККВ» не ограничено.

			div.accordeon__item
				div.accordeon__head 
					span 4.	Что такое бонусы и как их использовать?
				div.accordeon__body
					p Бонусы – это условные единицы, зачисляемые Банком за счет средств Банка на Ваш «Кошелек времени» за определенные активности:  за регистрацию в приложении, за подключение карт других Банков, за проведение платежей. Накопленные бонусы можно потратить на реальные услуги: вы можете оплатить ими любые платежи, которые доступны в приложении.
					p Обналичить бонусы не получится. Ими можно оплачивать услуги только внутри приложения.
			div.accordeon__item
				div.accordeon__head 
					span 5.	Почему я оплатил услугу, а начисление бонусов не произошло?
				div.accordeon__body
					p Бонусы начисляются при полной или частичной оплате собственными средствами на сумму платежа. Бонусы не начисляются по операциям с полной оплатой бонусами. Также бонусы могли не зачислиться, если вы совершили оплату по поставщику услуг, входящему в одну из следующих категорий поставщиков: Финансовые и Банковские услуги, Государственные услуги, Объявления и Другие услуги.
			div.accordeon__item
				div.accordeon__head 
					span 6.	Сможет ли кто-нибудь получить доступ к приложению при утере моего телефона?
				div.accordeon__body
					p Для входа в приложение необходим пароль или ПИН-код, известные только Вам, поэтому никто другой не сможет воспользоваться приложением.
			div.accordeon__item
				div.accordeon__head 
					span 7. Как получить консультацию и поддержку от Банка?
				div.accordeon__body
					p Вы можете связаться с Банком, позвонив в наш круглосуточный колл-центр:
					ul
						li по короткому номеру 5000 (звонок с мобильного бесплатный);
						li по фиксированному номеру +996 312 333 000;
						li написав на WhatsApp по номеру +996 776 333 000.
					p А еще Вы можете написать в круглосуточный чат или создать тему на форуме в самом приложении «ККВ».
