.conditions {
	padding-bottom: 70px;
	&__inner {
		@include from (641px) {
			grid-template-rows: auto auto auto auto;
		}
		@include to(1024px) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: $gap-tablet;
		}

		@include to(640px) {
			grid-template-columns: 1fr;
			column-gap: $gap-mobile;
		}

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: $gap-desktop;
	}

	&__illustration {
		@include from (641px) {
			grid-row: 1 / 5;
		}
		@include to(1024px) {
			grid-row: 2;
		}

		@include to(640px) {
			grid-row: 1;
		}

		width: 100%;

		img {
			width: 100%;
			height: auto;
		}

		grid-column: 1;
		grid-row: 1 / 4;
	}

	&__content {
		@include from (641px) {
			grid-row: 3;
		}
		@include to(1024px) {
			grid-row: 2;
		}

		@include to(640px) {
			grid-column: 1;
			grid-row: 3;
		}

		grid-column: 2;
		grid-row: 2;
	}

	&__title {
		@include from (641px) {
			grid-row: 2;
			padding-top: 0;
			margin-top: -40px;
		}
		@include to(1024px) {
			font-size: 36px;
			line-height: 48px;
			margin-bottom: 42px;

			grid-column: 1 / -1;
			grid-row: 1;
			justify-self: center;
		}

		@include to(640px) {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 22px;
			grid-row: 2;
			justify-self: start;
			padding-top: 0;
			margin-top: -20px;
		}

		padding-top: 20px;
		font-weight: 900;
		font-size: 50px;
		line-height: 66px;
		color: $ca;
		margin-bottom: 40px;

		grid-column: 2;
		grid-row: 1;
	}

	&__list li {
		@include to(1024px) {
			font-size: 15px;
			line-height: 22px;
		}

		@include to(640px) {
			font-size: 15px;
			line-height: 22px;
		}

		color: #636B84;
		font-weight: normal;
		font-size: 18px;
		line-height: 26px;
		position: relative;
		padding-left: calc(19px + 21px);
		max-width: 80%;
		&:not(:last-child) {
			@include to(1024px) {
				margin-bottom: 18px;
			}

			@include to(640px) {
				margin-bottom: 32px;
			}

			margin-bottom: 32px;
		}

		&::before {
			content: "";
			width: 19px;
			height: 13px;
			background-image: $i-tick-green;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 8px;
			left: 0;
		}
	}
}