section.services
	div.services__inner.container
		h2.services__title Что доступно в приложении
		div.services__tab.servtab
			div.servtab__header
				div.servtab__controls
					div.servtab__control(data-tab-control="transactions") Переводы
					div.is-active.servtab__control(data-tab-control="payment") Оплата услуг
					div.servtab__control(data-tab-control="bonus") Бонусная система
					div.servtab__control(data-tab-control="monitor") Мониторинг операций
					div.servtab__control(data-tab-control="support") Поддержка
					div.servtab__indicator
						div.servtab__indicator-caret
			ul.servtab__content
				li.servtab__screen(data-tab-screen="transactions")
					div.servtab__mobile-control
						span Переводы
					article.serve
						figure.serve__illustration
							div.serve__phonepic
								.phone
									.phone__inner
										img(src="images/screen-transactions.png" alt="").serve__phonepic-screen
							div.video-preview
								img(src="images/transaction-preview.png" alt="")
						div.serve__content
							h3.serve__title Переводы
							p.serve__desc Легкие переводы с карты на карту любого банка мира (VISA и MasterCard).
				li.servtab__screen(data-tab-screen="payment")
					div.servtab__mobile-control
						span Оплата услуг
					article.serve
						figure.serve__illustration
							div.serve__phonepic
								.phone
									.phone__inner
										img(src="images/screen-payment.png" alt="").serve__phonepic-screen
							div.video-preview
								img(src="images/payment-preview.png" alt="")
						div.serve__content
							h3.serve__title Оплата услуг
							p.serve__desc Оплачивайте услуги в приложении KKB без комиссии и получайте бонусы.
				li.servtab__screen(data-tab-screen="bonus")
					div.servtab__mobile-control
						span Бонусная система
					article.serve
						figure.serve__illustration
							div.serve__phonepic
								.phone
									.phone__inner
										img(src="images/screen-bonuses.png" alt="").serve__phonepic-screen
							div.serve__addt-pic
								img(src="images/bonuses-pocket.png")
						div.serve__content
							h3.serve__title Бонусная система
							p.serve__desc Совершайте платежи в приложении и получайте бонусы: 1% от суммы транзакции.
				li.servtab__screen(data-tab-screen="monitor")
					div.servtab__mobile-control 
						span Мониторинг операций
					article.serve
						figure.serve__illustration
							div.serve__phonepic
								.phone
									.phone__inner
										img(src="images/screen-monitoring.png" alt="").serve__phonepic-screen
						div.serve__content
							h3.serve__title Мониторинг операций
							p.serve__desc Вы можете отследить все ваши действия в приложении.
				li.servtab__screen(data-tab-screen="support")
					div.servtab__mobile-control 
						span Поддержка
					article.serve
						figure.serve__illustration
							div.serve__phonepic
								.phone
									.phone__inner
										img(src="images/screen-support.png" alt="").serve__phonepic-screen
						div.serve__content
							h3.serve__title Поддержка
							p.serve__desc 24/7 работает бесплатный колл-центр по номеру: 5000.