section.services
	div.services__inner.container
		h2.services__title Что доступно в приложении
		div.services__tab.servtab
			ul.servtab__controls
				li.servtab__control(data-tab-control="transactions") Переводы
				li.servtab__control(data-tab-control="payment") Оплата услуг
				li.servtab__control(data-tab-control="bonus") Бонусная система
				li.servtab__control(data-tab-control="monitor") Мониторинг операций
				li.servtab__control(data-tab-control="support") Поддержка
			div.servtab__indicator
				div.servtab__indicator-caret
			ul.servtab__content
				li.servtab__screen(data-tab-screen="transactions")
					div.serve__mobile-control
					article.serve
						figure.serve__illustration
							picture
								img(src="" alt="")
						div.serve__content
							h3.serve__title Переводы
							p.serve__desc Легкие переводы с карты на карту любого банка мира (VISA и MasterCard).
				li.servtab__screen(data-tab-screen="payment")
					div.serve__mobile-control
					article.serve
						figure.serve__illustration
							picture
								img(src="" alt="")
							div.serve__videothumb
								picture
									img(src="")
						div.serve__content
							h3.serve__title Оплата услуг
							p.serve__desc Оплачивайте услуги в приложении KKB без комиссии и получайте бонусы.
				li.servtab__screen(data-tab-screen="bonus")
					div.serve__mobile-control
					article.serve
						figure.serve__illustration
							picture
								img(src="" alt="")
						div.serve__content
							h3.serve__title Бонусная система
							p.serve__desc Совершайте платежи в приложении и получайте бонусы: 1% от суммы транзакции.
				li.servtab__screen(data-tab-screen="monitor")
					div.serve__mobile-control
					article.serve
						figure.serve__illustration
							picture
								img(src="" alt="")
						div.serve__content
							h3.serve__title Мониторинг операций
							p.serve__desc Вы можете отследить все ваши действия в приложении.
				li.servtab__screen(data-tab-screen="support")
					div.serve__mobile-control
					article.serve
						figure.serve__illustration
							picture
								img(src="" alt="")
						div.serve__content
							h3.serve__title Поддержка
							p.serve__desc 24/7 работает бесплатный колл-центр по номеру: 5000.