section.hero
	div.hero__inner.container
		div.hero__content
			header.hero__logo
			h1.hero__title Мобильный банкинг без границ
			p.hero__text Привязывайте карты банков Кыргызстана, оплачивайте услуги без комиссий, совершайте переводы с карты на карту любых банков – и всё это в одном приложении. Теперь деньги работают так, как это должно быть в современном мире: быстро, онлайн, на вас. 
			div.hero__links
				a.hero__link-app.app-link.app-link--apple
				a.hero__link-app.app-link.app-link--google
		div.hero__illustration
			figure.hero__pic
				picture
					img
			