section.about
	div.container.about__inner
		div.about__illustration
		div.about__content
			h2.about__title Мы не потратим Ваше время! 
			ul.about__list
				li.about__point Бесплатно скачайте приложение KKB в App Store или Google Play
				li.about__point Зарегистрируйтесь по номеру телефона
				li.about__point Пользуйтесь услугами банка когда и где вам удобно
				li.about__point Копите бонусы
			div.about__links
				a(href="").app-link.app-link--apple.app-link--dark
				a(href="").app-link.app-link--google.app-link--dark