section.about
	div.container.about__inner
		div.about__content
			h2.about__title Мы не потратим Ваше время! 
			ul.about__list
				li.about__point 1. Скачивайте бесплатное приложение KKB в App Store или Google Play.
				li.about__point 2. Регистрируйтесь по номеру телефона.
				li.about__point 3. Пользуйтесь услугами банка, когда и где вам удобно. 
				li.about__point 4. Получайте бонусы с каждой покупки в приложении.
			div.about__links
				a(href="https://apps.apple.com/kg/app/kkb/id1522841048").app-link.app-link--apple.app-link--dark
				a(href="https://play.google.com/store/apps/details?id=kg.kkb.app").app-link.app-link--google.app-link--dark