section.contacts
	div.contacts__inner.container
		div.contacts__column
			figure.contacts__logo
				img(src="images/logo.svg" alt="kkb logo")
		div.contacts__column
			p.contacts__text При возникновении вопросов, вы можете обратиться в наш круглосуточный колл-центр по номерам:
			div.contacts__numbers
				a(href="tel:5000") 5000
				span (звонок с мобильного бесплатный)
				a(href="tel:0312333000") 0312 333 000
				a(href="") 0776 333 000
				span WhatsApp
		div.contacts__column
			div.contacts__address 720021, Кыргызская Республика, г.Бишкек, ул.Шопокова, 101
			div.contacts__links
				a(href="https://kkb.kg/") https://kkb.kg/
				a(href="mailto:info@kkb.kg") info@kkb.kg
			div.contacts__socials.socials
				a(href="facebook").socials__link.socials__link--facebook
					<svg width="41" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.655 20c0-7.356 1.55-12.189 4.683-15.197C8.477 1.79 13.315.5 20.155.5c7.357 0 12.19 1.549 15.197 4.683C38.365 8.32 39.655 13.159 39.655 20c0 7.356-1.549 12.189-4.683 15.197-3.138 3.013-7.976 4.303-14.817 4.303-7.356 0-12.189-1.549-15.197-4.683C1.946 31.68.655 26.841.655 20z" fill="#05133D" stroke="#DEE1ED"/><path d="M21.63 28v-8.23h2.95l.431-3.212h-3.38V14.55c0-.937.287-1.539 1.726-1.539h1.798v-2.877c-.288-.067-1.367-.134-2.662-.134-2.59 0-4.388 1.472-4.388 4.216v2.342h-2.95v3.212h2.95v8.163h3.525V28z" fill="#DEE1ED"/></svg>
				a(href="instagram").socials__link.socials__link--instagram
					<svg width="41" height="40" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M.655 20c0-7.356 1.55-12.189 4.683-15.197C8.477 1.79 13.315.5 20.155.5c7.357 0 12.19 1.549 15.197 4.683C38.365 8.32 39.655 13.159 39.655 20c0 7.356-1.549 12.189-4.683 15.197-3.138 3.013-7.976 4.303-14.817 4.303-7.356 0-12.189-1.549-15.197-4.683C1.946 31.68.655 26.841.655 20z" fill="#05133D" stroke="#DEE1ED"/>
						<path d="M16.795 12h6.72c2.56 0 4.64 2.08 4.64 4.64v6.72a4.64 4.64 0 01-4.64 4.64h-6.72c-2.56 0-4.64-2.08-4.64-4.64v-6.72a4.64 4.64 0 014.64-4.64zm-.16 1.6a2.88 2.88 0 00-2.88 2.88v7.04a2.878 2.878 0 002.88 2.88h7.04a2.88 2.88 0 002.88-2.88v-7.04a2.878 2.878 0 00-2.88-2.88h-7.04zm7.72 1.2a1 1 0 110 2 1 1 0 010-2zm-4.2 1.2a4 4 0 110 8 4 4 0 010-8zm0 1.6a2.4 2.4 0 100 4.801 2.4 2.4 0 000-4.801z" fill="#DEE1ED"/>
					</svg>
				a(href="twitter").socials__link.socials__link--twitter
					<svg width="41" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.655 20c0-7.356 1.55-12.189 4.683-15.197C8.477 1.79 13.315.5 20.155.5c7.357 0 12.19 1.549 15.197 4.683C38.365 8.32 39.655 13.159 39.655 20c0 7.356-1.549 12.189-4.683 15.197-3.138 3.013-7.976 4.303-14.817 4.303-7.356 0-12.189-1.549-15.197-4.683C1.946 31.68.655 26.841.655 20z" fill="#05133D" stroke="#DEE1ED"/><g clip-path="url(#clip0)"><path d="M28.155 15.539a6.839 6.839 0 01-1.89.518 3.262 3.262 0 001.443-1.813 6.555 6.555 0 01-2.08.794 3.28 3.28 0 00-5.674 2.243c0 .26.022.51.076.748a9.284 9.284 0 01-6.76-3.431 3.285 3.285 0 001.008 4.384 3.24 3.24 0 01-1.483-.404v.036a3.295 3.295 0 002.628 3.223 3.274 3.274 0 01-.86.108 2.9 2.9 0 01-.62-.056 3.311 3.311 0 003.064 2.285 6.59 6.59 0 01-4.067 1.399c-.269 0-.527-.012-.785-.045A9.234 9.234 0 0017.187 27c6.036 0 9.336-5 9.336-9.334 0-.145-.005-.285-.012-.424a6.544 6.544 0 001.644-1.703z" fill="#DEE1ED"/></g><defs><clipPath id="clip0"><path fill="#fff" transform="translate(12.155 12)" d="M0 0h16v16H0z"/></clipPath></defs></svg>
				a(href="youtube").socials__link.socials__link--youtube
					<svg width="41" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.655 20c0-7.356 1.55-12.189 4.683-15.197C8.477 1.79 13.315.5 20.155.5c7.357 0 12.19 1.549 15.197 4.683C38.365 8.32 39.655 13.159 39.655 20c0 7.356-1.549 12.189-4.683 15.197-3.138 3.013-7.976 4.303-14.817 4.303-7.356 0-12.189-1.549-15.197-4.683C1.946 31.68.655 26.841.655 20z" stroke="#DEE1ED"/><path d="M29.718 15.178c-.25-.871-.938-1.556-1.75-1.742C26.405 13 20.155 13 20.155 13s-6.25 0-7.812.436c-.813.248-1.563.933-1.75 1.804-.438 1.556-.438 4.791-.438 4.791s0 3.236.438 4.791c.25.871.937 1.556 1.75 1.742 1.562.436 7.812.436 7.812.436s6.25 0 7.813-.436c.875-.248 1.562-.933 1.75-1.742.437-1.555.437-4.79.437-4.79s0-3.299-.437-4.854z" fill="#DEE1ED"/><path d="M18.155 23l5-3-5-3v6z" fill="#05133D"/></svg>
	footer.contacts-footer.container
		div.contacts-footer__copy © Kyrgyzkommertsbank 2021 — Все права защищены. Лицензия НБКР №010, №010/1
		div.contacts-footer__dev Разработка - cake.ru