section.contacts
	div.contacts__inner.container
		div.contacts__column
			figure.contacts__logo

		div.contacts__column
			p.contacts__text При возникновении вопросов, вы можете обратиться в наш круглосуточный колл-центр по номерам:
			div.contacts__numbers
				a(href="tel:5000") 5000
				span (звонок с мобильного бесплатный)
				a(href="tel:0312333000") 0312 333 000
				a(href="") 0776 333 000
				span WhatsApp
		div.contacts__column
			div.contacts__address 720021, Кыргызская Республика, г.Бишкек, ул.Шопокова, 101
			div.contacts__links
				a(href="https://kkb.kg/") https://kkb.kg/
				a(href="mailto:info@kkb.kg") info@kkb.kg
			div.contacts__socials.socials
				a(href="facebook").socials__link.socials__link--facebook
				a(href="instagram").socials__link.socials__link--instagram
				a(href="twitter").socials__link.socials__link--twitter
				a(href="youtube").socials__link.socials__link--youtube
	footer.contacts-footer.container
		div.contacts-footer__copy
		div.contacts-footer__dev