section.popup(data-video-popup="1")
    div.popup__overlay
    div.popup__inner
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cnzc93LunI4?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
section.popup(data-video-popup="2")
    div.popup__overlay
    div.popup__inner
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PhswKnyq8Qg?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>