extends layouts/default
include helpers/mixins

block variables
	- const title = "KKB Landing Page"

block content
	include ../blocks/modules/hero/hero.pug
	include ../blocks/modules/bonuses/bonuses.pug
	include ../blocks/modules/conditions/conditions.pug
	include ../blocks/modules/how-it/how-it.pug
	include ../blocks/modules/services/services.pug
	include ../blocks/modules/app/app.pug
	include ../blocks/modules/advantages/advantages.pug
	include ../blocks/modules/about/about.pug
	include ../blocks/modules/faq/faq.pug
	include ../blocks/modules/contacts/contacts.pug
	include ../blocks/components/popup/popup.pug
block scripts
	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
	script(src="js/main.js")
