section.bonuses
	div.bonuses__inner.container
		h2.bonuses__lead
			b Мы не потратим ваше время!
			span Мы вернем его в виде бонусов!
		p.bonuses__desc Дарим бонусы за скачивание, привязку банковских карт и оплаты внутри приложения.
		article.bonuses__scene
			div.bonuses__pic-elem(data-bonuse-pic="phone")
				img(src="images/bonuses-phone.png")
			div.bonuses__pic-elem(data-bonuse-pic="triangle")
				img(src="images/bonuses-triangle.png")
			div.bonuses__pic-elem(data-bonuse-pic="pocket")
				img(src="images/bonuses-pocket.png")
			div.bonuses__pic-elem(data-bonuse-pic="success")
				img(src="images/bonuses-success.png")
			div.bonuses__pic-elem(data-bonuse-pic="operator")
				img(src="images/bonuses-operator.png")
			div.bonuses__pic-elem(data-bonuse-pic="cardBlue")
				img(src="images/card-blue.png")
			div.bonuses__pic-elem(data-bonuse-pic="cardRed")
				img(src="images/card-red.png")
