section.bonuses
	div.bonuses__intersector
	div.bonuses__inner.container
		h2.bonuses__lead
			b Мы не потратим ваше время!
			span Мы вернем его в виде бонусов!
		p.bonuses__desc Дарим бонусы за привязку банковских карт и оплату услуг.
		article.bonuses__scene
			div.bonuses__pic-elem(data-bonuse-pic="phone")
				img(src="images/bonuses-phone.svg")
			div.bonuses__pic-elem(data-bonuse-pic="triangle")
				img(src="images/bonuses-triangle.svg")
			div.bonuses__pic-elem(data-bonuse-pic="pocket")
				img(src="images/bonuses-pocket.svg")
			div.bonuses__pic-elem(data-bonuse-pic="success")
				img(src="images/bonuses-success.svg")
			div.bonuses__pic-elem(data-bonuse-pic="operator")
				img(src="images/bonuses-operator.svg")
			div.bonuses__pic-elem(data-bonuse-pic="cardBlue")
				img(src="images/card-blue.svg")
			div.bonuses__pic-elem(data-bonuse-pic="cardRed")
				img(src="images/card-red.svg")
