section.advantages
	div.container.advantages__inner
		div.advantages__content
			h2.advantages__title Вау-возможности
			div.advantages__item.advantages__item--1
				div
					h3.advantages__item-title Удобно
					p.advantages__item-text Карты любых банков доступны в одном приложении.
			div.advantages__item.advantages__item--2
				div
					h3.advantages__item-title Практично
					p.advantages__item-text Теперь вам не нужно идти в банк или искать терминал для оплаты услуг, чтобы отправить деньги близким. И главное – никакой комиссии при оплате в приложении!
			div.advantages__item.advantages__item--3
				div
					h3.advantages__item-title Выгодно
					p.advantages__item-text Оплачивайте услуги в приложении и копите бонусы! Согласитесь, приятно получать деньги просто так.
		figure.advantages__illustration
			article.phone.phone--scroll
				div.phone__inner
					picture.phone__head
						img(src="images/phone-index-head.svg")
					picture.phone__content
						img(src="images/phone-index-content.svg" alt="")
					picture.phone__footer
						img(src="images/phone-index-list.svg")





						
