section.advantages
	div.container.advantages__inner
		div.advantages__content
			div.advantages__item
				h3.advantages__item-title Удобно
				p.advantages__item-text Теперь карты любых банков в одном приложении.
			div.advantages__item
				h3.advantages__item-title Практично
				p.advantages__item-text Теперь не нужно идти в банк, чтобы отправить деньги близким или искать терминал для оплаты услуг. И самое главное – забудьте о комиссии при оплате в приложении: ее нет.
			div.advantages__item
				h3.advantages__item-title Выгодно
				p.advantages__item-text Оплачивайте услуги в приложении и копите бонусы! Согласитесь, приятно получать деньги просто так. 
		figure.advantages__illustration
			article.phone
				div.phone__inner
					picture.phone__content
						img(src="" alt="")