section.conditions
	div.conditions__inner.container
		figure.conditions__illustration
			picture
				img
		article.conditions__content
			h2.conditions__title Ваши возможности
			ul.conditions__list
				li Бонусы, накопленные в вашем «Кошельке времени» можно потратить на реальные услуги. Вы можете оплатить ими любые платежи, которые доступны в приложении.
				li Обналичить бонусы не получится. Ими можно оплачивать услуги только внутри приложения.
				li Вы можете потратить не более 50% накопленных бонусов за одну транзакцию.