section.conditions
	div.conditions__inner.container
		figure.conditions__illustration
			picture
				img(src="images/conditions-pic.svg" alt="")
		h2.conditions__title Бонусная система
		article.conditions__content
			ul.conditions__list
				li Бонусы можно потратить на реальные услуги. Оплачивайте ими любые платежи, доступные в приложении.