section.app
	div.app__inner.container
		div.app__box
			h2.app__title #[b Мобильный банкинг теперь действительно] мобильный - быстрый, удобный, эффективный.
			div.app__links
				a(href="https://apps.apple.com/kg/app/kkb/id1522841048").app-link.app-link--apple
				a(href="https://play.google.com/store/apps/details?id=kg.kkb.app").app-link.app-link--google