section.app
	div.app__inner.container
		div.app__box
			h2.app__title #[b Мобильный банкинг теперь действительно] мобильный, быстрый, удобный.
			div.app__links
				a(href="").app-link.app-link--apple
				a(href="").app-link.app-link--google