@font-face {
	font-family: "Nexa";
	font-weight: 400;
	src: url("../fonts/Nexa-Regular.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "Nexa";
	font-weight: 900;
	src: url("../fonts/Nexa-Heavy.woff2") format("woff2");
	font-display: swap;
}